<html>

<head>
    <title>INFO 5311: Final Project</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <style>
        h1 {
            text-align: center;
            font-size: 40px;
        }

        #pauseBtn {
            position: fixed;
            top: 20px;
            left: 20px;
        }

        .thought-bubble {
            font-size: 16px;
            fill: #000;
            pointer-events: none;
        }

        .kalam-bold {
            font-family: "Kalam", cursive;
            font-weight: 700;
            font-style: normal;
            color: #21354a;
        }

        body {
            background-color: #87b9f8;
        }
    </style>
</head>

<body>
    <h1 class="kalam-bold">The Importance of Understanding Mental Health</h1>
    <svg id="canvas" width="1350" height="800"></svg>
    <svg id="isochart" width="500" height="600"></svg>
    <svg id="brain" width="1680" height="1100"></svg>

    <script>
        const mentalHealthVisualization = async () => {

            let mentalHealthData = await d3.csv("./static/mental_health_data.csv");
            console.log(mentalHealthData);

            let svg = d3.select("#canvas");
            let speed = 0.05;

            let roadX = 0;
            let roadY = -250;

            svg.append("image")
                .attr("xlink:href", "./static/background2.jpeg")
                .attr("x", 0)
                .attr("y", -30)
                .attr("width", svg.attr("width"))
                .attr("height", svg.attr("height"));

            let other = svg.append("image")
                .attr("xlink:href", "./static/other.png")
                .attr("x", 1900)
                .attr("y", roadY + 600)
                .attr("width", 100)
                .attr("height", 180);

            let student = svg.append("image")
                .attr("xlink:href", "./static/student.png")
                .attr("x", -200)
                .attr("y", roadY + 600)
                .attr("width", 120)
                .attr("height", 220);

            let businessman = svg.append("image")
                .attr("xlink:href", "./static/businessman.png")
                .attr("x", -300)
                .attr("y", roadY + 620)
                .attr("width", 180)
                .attr("height", 260);

            let housewife = svg.append("image")
                .attr("xlink:href", "./static/housewife.png")
                .attr("x", 1800)
                .attr("y", roadY + 640)
                .attr("width", 200)
                .attr("height", 250);


            const characters = [
                { char: other, xStart: 1800, xEnd: -200, pause: false },
                { char: student, xStart: -200, xEnd: 1700, pause: false },
                { char: businessman, xStart: -1000, xEnd: 1700, pause: true },
                { char: housewife, xStart: 1900, xEnd: -200, pause: true },
            ];

            characters.forEach(char => {
                let character = char.char;

                if (char.pause === true) {
                    console.log("entered");
                    setTimeout(() => {
                        initiateWalk(character, char.xStart, char.xEnd, char.pause);
                    }, 10000);
                }
                else {
                    initiateWalk(character, char.xStart, char.xEnd, char.pause);
                }

                character.on("mouseover", function () {
                    d3.select(this).interrupt();
                    showThoughtBubble(this);
                })
                    .on("mouseout", function () {
                        resumeWalk(this, char.xEnd);
                        hideThoughtBubble();
                    })
                    .on("click", function () {
                        characterClicked();
                    });

            });

            function initiateWalk(character, xStart, xEnd, pause) {
                let totalDistance = Math.abs(xEnd - xStart);
                let duration = totalDistance / speed;
                walk(character, xEnd, duration);
            }

            function resumeWalk(element, xEnd) {
                let character = d3.select(element);
                let currentX = parseFloat(character.attr("x"));
                let remainingDistance = Math.abs(xEnd - currentX);
                let duration = remainingDistance / speed;
                walk(character, xEnd, duration);
            }

            function walk(character, xEnd, duration) {
                character.transition()
                    .duration(duration)
                    .attr("x", xEnd)
                    .ease(d3.easeLinear)
                    .on("end", () => resetAndWalkAgain(character, xEnd));
            }

            function resetAndWalkAgain(character, xEnd) {
                let xStart = (xEnd > 0) ? -300 : 1800;
                character.attr("x", xStart);
                initiateWalk(character, xStart, xEnd);
            }

            function showThoughtBubble(element) {
                let bbox = element.getBBox();
                let bubbleX = bbox.x + bbox.width / 2 + 50;
                let bubbleY = bbox.y - 50;

                svg.append("image")
                    .attr("class", "thought-bubble")
                    .attr("xlink:href", "./static/thought_bubble.png")
                    .attr("x", bubbleX - 70)
                    .attr("y", bubbleY - 50)
                    .attr("width", 280)
                    .attr("height", 160);

                let text = svg.append("text")
                    .attr("class", "thought-bubble-text")
                    .attr("x", bubbleX)
                    .attr("y", bubbleY)
                    .attr("font-family", "Arial")
                    .attr("font-size", "15px")
                    .attr("font-weight", "bold")
                    .attr("fill", "black");

                text.append("tspan")
                    .attr("x", bubbleX + 30)
                    .attr("dy", -5)
                    .text("Click to see");

                text.append("tspan")
                    .attr("x", bubbleX + 25)
                    .attr("dy", 20)
                    .text("how I'm doing!");
            }

            function hideThoughtBubble() {
                svg.selectAll(".thought-bubble").remove();
                svg.selectAll(".thought-bubble-text").remove();
            }

            function characterClicked() {
                d3.select("#brain").selectAll("*").remove();
                createBrain(mentalHealthData);

            }

            function createBrain(data) {
                alert("You clicked on a character");

            }

            function createIsotypeChart(data) {
                let occupationCounts = d3.rollup(data, v => v.length, d => d.Occupation);

                let svg = d3.select("#canvas");
                let iconWidth = 20;
                let iconHeight = 30;
                let padding = 2;

                let index1 = 0;
                let index2 = 0; 
                
                let yPosition1 = 30; 
                let yPosition2 = 30;

                occupationCounts.forEach((count, occupation) => {
                    if (occupation === "Business" || occupation === "Others") {
                       
                        let group = svg.append("g")
                            .attr("class", occupation);
                        let ratio = Math.floor(count / 10000)
                        let extra = count % 10000

                        group.append("text")
                            .attr("x", 900)
                            .attr("y", yPosition1 - 15)
                            .text(occupation + " (" + count + ")")
                            .attr("font-weight", "bold");

                        for (let i = 0; i <= ratio; i++) {
                            let x = (i % 10) * (iconWidth + padding) + 900;
                            let y = yPosition1 + Math.floor(i / 10) * (iconHeight + padding);
                            if (i < ratio) {
                                group.append("image")
                                    .attr("xlink:href", "./static/full_person.png")
                                    .attr("x", x)
                                    .attr("y", y)
                                    .attr("width", iconWidth)
                                    .attr("height", iconHeight)
                            }


                            if (i === ratio && extra > 0 && extra < 5000) {
                                console.log("enter");
                                group.append("image")
                                    .attr("xlink:href", "./static/quarter_person.png")
                                    .attr("x", x)
                                    .attr("y", y)
                                    .attr("width", iconWidth)
                                    .attr("height", iconHeight)
                            }
                            else if (i === ratio && extra >= 5000) {
                                console.log("entered here");

                                group.append("image")
                                    .attr("xlink:href", "./static/half_person.png")
                                    .attr("x", x)
                                    .attr("y", y)
                                    .attr("width", iconWidth)
                                    .attr("height", iconHeight)
                            }
                        }
                        yPosition1 += (Math.ceil(ratio / 10) * (iconHeight + padding)) + 50;
                    }
                    else {
                        let group = svg.append("g")
                            .attr("class", occupation);
                        let ratio = Math.floor(count / 10000)
                        let extra = count % 10000

                        group.append("text")
                            .attr("x", 1100)
                            .attr("y", yPosition2 - 18)
                            .text(occupation + " (" + count + ")")
                            .attr("font-weight", "bold");

                        for (let i = 0; i <= ratio; i++) {
                            let x = (i % 10) * (iconWidth + padding) + 1100;
                            let y = yPosition2 + Math.floor(i / 10) * (iconHeight + padding) - 5;
                            if (i < ratio) {
                                group.append("image")
                                    .attr("xlink:href", "./static/full_person.png")
                                    .attr("x", x)
                                    .attr("y", y)
                                    .attr("width", iconWidth)
                                    .attr("height", iconHeight)
                            }


                            if (i === ratio && extra > 0 && extra < 5000) {
                                console.log("enter");
                                group.append("image")
                                    .attr("xlink:href", "./static/quarter_person.png")
                                    .attr("x", x)
                                    .attr("y", y)
                                    .attr("width", iconWidth)
                                    .attr("height", iconHeight)
                            }
                            else if (i === ratio && extra >= 5000) {
                                console.log("entered here");

                                group.append("image")
                                    .attr("xlink:href", "./static/half_person.png")
                                    .attr("x", x)
                                    .attr("y", y)
                                    .attr("width", iconWidth)
                                    .attr("height", iconHeight)
                            }
                        }
                        yPosition2 += (Math.ceil(ratio / 10) * (iconHeight + padding)) + 50;
                    }

                });

            }

            createIsotypeChart(mentalHealthData);

        }

        mentalHealthVisualization();

    </script>

</body>

</html>